<app-admin-layout>
    <div
        class="h-full w-full m-4 flex flex-wrap items-start justify-start rounded-tl grid-flow-col auto-cols-max gap-4 overflow-y-scroll">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.title" class="w-96 rounded-lg flex-shrink-0 flex-grow bg-white"></apx-chart>
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.title" class="w-96 rounded-lg flex-shrink-0 flex-grow bg-white"></apx-chart>

    </div>

</app-admin-layout>